/*don't change below*/
.nav {
  background-color: black;
  color: white;
}

nav > h2 {
  float: left;
  padding: 1px 1px 2px 10px;
  margin: 7px 0px;
}

nav > h2 > .glyphicon-refresh {
  font-size: 20px;
}

nav > h3 {
  float: right;
  padding: 0px;
  margin: 0px;
}

nav > h3 > .btn-default {
  color: white;
  font-size: 17px;
  background-color: black;
  padding: 0px 14px;
  margin: 0px;
  border: 0px;
  height: 52px;
  border-radius: 0px;
}

#error {
  margin: 0px;
  padding: 0px;
  color: red;
}

.modal {
  top: 100px;
}
/*don't change above*/

nav > h3 > .btn-group > .btn-default {
  color: white;
  font-size: 17px;
  background-color: black;
  padding: 0px 14px;
  margin: 0px;
  border: 0px;
  height: 52px;
  border-radius: 0px;
}

nav > h3 > .btn-group > .dropdown-menu {
  margin-top: 0px;
}

body {
  background-color: #EBE7E7;
}

section {
  text-align: center;
  margin: 35px 5px;
}

section > h2 {
  margin-bottom: 15px;
}

section > .btn-default {
  width: 80%;
  background-color: orange;
  border-color: orange;
  color: white;
}

article {
  margin: 20px 70px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}

article > .btn-default {
  background-color: orange;
  border-color: orange;
  float: right;
  color: white;
}

.title {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 20px;
  color: #666666;
  margin-left: 25px;
}

.date {
  float: left;
  color: grey;
}

.name {
  float: left;
  color: grey;
  margin-left: 15px;
}

.name > span {
  color: lightgrey;
  margin: 0px 10px;
  font-size: 10px;
}

.message {
  text-align: left;
  margin-top: 10px;
  margin-left: 25px;
}

.modal-body > p:first-child {
  margin-left: 43px;
}

.modal-body input {
  width: 400px;
}

.modal-body span {
  margin-right: 15px;
  font-size: 20px;
}

#response {
  color: red;
  font-size: 12px;
}

@media(max-width: 560px) {
  section {
    margin-top: 10px;
  }
  .modal-body input {
  width: 200px;
  }
}