/*don't change below*/
.nav {
  background-color: black;
  color: white;
}

nav > h2 {
  float: left;
  padding: 1px 1px 2px 10px;
  margin: 7px 0px;
}

nav > h3 {
  float: right;
  padding: 0px;
  margin: 0px;
}

nav > h3 > .btn-default {
  color: white;
  font-size: 17px;
  background-color: black;
  padding: 0px 14px;
  margin: 0px;
  border: 0px;
  height: 52px;
  border-radius: 0px;
}
/*don't change above*/

nav > h3 > .btn-group > .btn-default {
  color: white;
  font-size: 17px;
  background-color: black;
  padding: 0px 14px;
  margin: 0px;
  border: 0px;
  height: 52px;
  border-radius: 0px;
}

nav > h3 > .btn-group > .dropdown-menu {
  margin-top: 0px;
  /*border-radius: 0px;*/
}

section {
  text-align: center;
  margin: 80px 5px;
}

section:nth-child(2) {
  margin-top: 50px;
}