<!DOCTYPE html>
<html>
<head>
  <title>Loading</title>
  <link rel="stylesheet" type="text/css" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/forum.css">
  <script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="public/js/forum-app.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="fluid-container">
      <nav class="nav">
        <h2 id="logo">L<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>ading</h2>
        <h3><button class="btn btn-default" id="log-out">Log Out</button></h3>
        <h3>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Reserve</a></li>
              <li><a href="#">Chart</a></li>
              <li><a href="#">Forum</a></li>
            </ul>
          </div>
        </h3>
      </nav>
      <section>
        <h2>Forum</h2>
        <section id="forum">
          <button class="btn btn-default" data-toggle="modal" data-target="#add-post" id="post">Post</button>
        </section>
      </section>
      <div class="modal fade" id="add-post">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">New Post</h4>
            </div>
            <div class="modal-body">
              <p><span>Title</span><input type="text" placeholder="20 characters max"></p>
              <p><span>Message</span><input type="text" placeholder="200 characters max"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">Cancel</button>
              <button type="button" class="btn btn-primary" id="save">Add Post</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>