<!DOCTYPE html>
<html>
<head>
  <title>Loading</title>
  <link rel="stylesheet" type="text/css" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/index.css">
  <script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="public/js/index-app.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="fluid-container">
      <nav class="nav">
        <h2 id="logo">Loading</h2>
        <h3><button class="btn btn-default" id="log-in">Log In</button></h3>
        <h3><button class="btn btn-default" id="sign-up">Sign Up</button></h3>
      </nav>
      <section>
        <h4 id="date"></h4>
        <table class="table">
          <tr>
            <td></td>
          </tr>
        </table>
      </section>
    </div>
  </div>
</body>
</html>