<!DOCTYPE html>
<html>
<head>
  <title>Loading</title>
  <link rel="stylesheet" type="text/css" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/access.css">
  <script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="public/js/log-in-app.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="fluid-container">
      <nav class="nav">
        <h2 id="logo">L<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>ading</h2>
        <h3><button class="btn btn-default" id="sign-up">Sign Up</button></h3>
      </nav>
      <section>
        <p><span>Username</span><input type="text" placeholder="username"></p>
        <p><span>Password</span><input type="password" placeholder="password"></p>
        <p><button class="btn btn-default" id="log-in">Log In</button></p>
      </section>
      <div class="modal fade" id="success">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
              <p>You have successfully logged in, redirecting...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>