<!DOCTYPE html>
<html>
<head>
  <title>Loading</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/profile.css">
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="public/js/profile-app.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="fluid-container">
      <nav class="nav">
        <h2 id="logo">L<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>ading</h2>
        <h3><button class="btn btn-default" id="log-out">Log Out</button></h3>
        <h3>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Reserve</a></li>
              <li><a href="#">Chart</a></li>
              <li><a href="#">Forum</a></li>
            </ul>
          </div>
        </h3>
      </nav>
      <section>
      </section>
      <section>
        <table class="table table-striped" id="table">
          <tr>
            <td>Time</td>
            <td>Machine</td>
            <td>Day</td>
          </tr>
        </table>
      </section>
      <div class="modal fade" id="change-email">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Change Email</h4>
            </div>
            <div class="modal-body">
              <p><span>New Email</span><input type="text" placeholder="example@blank.com"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">Cancel</button>
              <button type="button" class="btn btn-primary" id="save">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="change-password">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
              <p><span>Old Password</span><input type="password" placeholder="password"></p>
              <p><span>New Password</span><input type="password" placeholder="password"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">Cancel</button>
              <button type="button" class="btn btn-primary" id="save">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>