<!DOCTYPE html>
<html>
<head>
  <title>Loading</title>
  <link rel="stylesheet" type="text/css" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/reserve.css">
  <script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="public/js/reserve-app.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="fluid-container">
      <nav class="nav">
        <h2 id="logo">Loading</h2>
        <h3><button class="btn btn-default" id="log-out">Log Out</button></h3>
        <h3>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Reserve</a></li>
              <li><a href="#">Chart</a></li>
              <li><a href="#">Forum</a></li>
            </ul>
          </div>
        </h3>
      </nav>
      <section>
        <h3 id="today"></h3>
        <table class="table table-striped" id="table1">
          <tr>
            <td>Time</td>
            <td>Machine 1</td>
            <td>Machine 2</td>
            <td>Machine 3</td>
            <td>Machine 4</td>
            <td>Machine 5</td>
          </tr>
        </table>
      </section>
      <section>
        <h3 id="tmrw"></h3>
        <table class="table table-striped" id="table2">
          <tr>
            <td>Time</td>
            <td>Machine 1</td>
            <td>Machine 2</td>
            <td>Machine 3</td>
            <td>Machine 4</td>
            <td>Machine 5</td>
          </tr>
        </table>
      </section>
    </div>
  </div>
</body>
</html>